@model CieeProjectWebApp.Models.AnimalViewModel

@{
    ViewData["Title"] = "EditAnimal";
}

<h1>Editar cadastro</h1>

<h4>Animal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditAnimal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_animal" />
            <div class="form-group">
                <label asp-for="nome_animal" class="control-label"></label>
                <input asp-for="nome_animal" class="form-control" />
                <span asp-validation-for="nome_animal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descricao_animal" class="control-label"></label>
                <input asp-for="descricao_animal" class="form-control" />
                <span asp-validation-for="descricao_animal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="especie_animal" class="control-label"></label>
                <input asp-for="especie_animal" class="form-control" />
                <span asp-validation-for="especie_animal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="habitat_animal" class="control-label"></label>
                <input asp-for="habitat_animal" class="form-control" />
                <span asp-validation-for="habitat_animal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pais_origem_animal" class="control-label"></label>
                <input asp-for="pais_origem_animal" class="form-control" />
                <span asp-validation-for="pais_origem_animal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Alterar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListAnimal">Voltar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
