USE [master]
GO
/****** Object:  Database [cieeproject]    Script Date: 11/05/2025 21:27:06 ******/
CREATE DATABASE [cieeproject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cieeproject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\cieeproject.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cieeproject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\cieeproject_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cieeproject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cieeproject]
GO
/****** Object:  Table [dbo].[animais]    Script Date: 11/05/2025 21:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[animais](
	[id_animal] [int] IDENTITY(1,1) NOT NULL,
	[nome_animal] [nvarchar](100) NOT NULL,
	[descricao_animal] [nvarchar](100) NOT NULL,
	[especie_animal] [nvarchar](100) NOT NULL,
	[habitat_animal] [nvarchar](100) NOT NULL,
	[pais_origem_animal] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_animal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuidados]    Script Date: 11/05/2025 21:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuidados](
	[id_cuidado] [int] IDENTITY(1,1) NOT NULL,
	[descricao_cuidado] [nvarchar](200) NOT NULL,
	[frequencia_cuidado] [nvarchar](100) NOT NULL,
	[id_animal_cuidado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cuidado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cuidados]  WITH CHECK ADD  CONSTRAINT [FK_id_animal_cuidado] FOREIGN KEY([id_animal_cuidado])
REFERENCES [dbo].[animais] ([id_animal])
GO
ALTER TABLE [dbo].[cuidados] CHECK CONSTRAINT [FK_id_animal_cuidado]
GO
USE [master]
GO
