@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gestão de animais</h1>
    <div class="text-center">
        <a asp-action="ListAnimal" asp-controller="Animal" class="btn btn-primary btn-lg mb-3">Animais</a><br />
        <a asp-action="ListCuidado" asp-controller="Cuidado" class="btn btn-primary btn-lg mb-3">Cuidados</a><br />
    </div>
</div>
